.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}


/* Rules for using icons as signature blueish on a dark background. */

.material-icons.md-blue {
	color: rgba(33, 150, 243, 1);
}

.material-icons.md-blue.md-inactive {
	color: rgba(33, 150, 243, 0.3);
}

.material-icons.right {
	position: relative;
	float: right;
	left: -10px;
	top: -6px;
}

.material-icons.right.tni {
	left: -27px;
	top: -46px;
}

.open-popover {
	margin-bottom: -32px;
	height: 0;
}

.bottom-toolbar {
	height: 100px;
	display: none;
	-webkit-animation: bounce-in-bottom 1.1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	-moz-animation: bounce-in-bottom 1.1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	animation: bounce-in-bottom 1.1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}

.toolbar-inner {
	display: block;
	justify-content: normal;
	text-align: center;
}

#clearbtn {
	display: none;
	margin-bottom: 50px
}

#clearbtn.bmarg {
	margin-bottom: 150px;
}


/* ----------------------------------------------
 * Generated by Animista on 2017-3-23 21:48:15
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation bounce-in-bottom
 * ----------------------------------------
 */

@-webkit-keyframes bounce-in-bottom {
	0% {
		-webkit-transform: translateY(500px);
		transform: translateY(500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(65px);
		transform: translateY(65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(28px);
		transform: translateY(28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes bounce-in-bottom {
	0% {
		-webkit-transform: translateY(500px);
		transform: translateY(500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(65px);
		transform: translateY(65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(28px);
		transform: translateY(28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}